body {
    background-color: rgb(170, 243, 239);
    font-family: "Oswald", serif;
}

#navigation {
    position: sticky;
    top: 0;
    background-color: rgb(161, 246, 242);
    padding: 1em;
}

#navigation ul {
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: end;
    margin-right: 3em;
}

#navigation a {
    text-decoration: none;
    color: rgb(3, 16, 57);
    font-size: larger;
}

#navigation a:hover {
    color: rgb(215, 10, 71);
}

@media(max-width: 375px) {
    #navigation {
        padding: 0.5em;
    }
}

h1 {
    background-color: rgba(73, 241, 247, 0.445);
    border: solid 1px rgb(0, 0, 0);
    font-family: "Kumar One", serif;
    text-align: center;
    font-size: 3rem;
    margin: 1em;
    margin-bottom: 0;
}

#intro-p {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
    gap: 1em;
}

input {
    display: flex;
    width: 100%;
    max-width: 40vw;
    height: 2em;
    padding-left: 1em;
    border: solid 1px black;
    border-radius: 1em;
}

@media(max-width: 375px) {
    input {
        width: 40vw;
    }
}
#search-button {
    width: 10em;
    height: 2em;
    border-radius: 1em;
    background-color: rgb(37, 196, 249);
}

#search-button:hover {
    background-color: rgb(115, 216, 249);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}

#breed-name {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}
@media(max-width: 375px) {
    #breed-name {
        font-size: 2rem;
    }
}

#cat-profile {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 2em;
    justify-content: center;
}
@media(max-width: 375px) {
    #cat-profile {
        flex-direction: column;
        gap: 0;
    }
}
#cat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 7em;
}
@media(max-width: 375px) {
    #cat-section {
        margin-bottom: 1em;
    }
}

#cat-image {
    display: flex;
    justify-content: center;
    width: 30vw;
    max-height: max-content;
}
@media(max-width: 375px) {
    #cat-image {
        width: 70vw;
    }
}

#behavior-section {
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media(max-width: 375px) {
    #behavior-section{margin-top: 0;}
}

#header-behavior {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.25em;
}
@media(max-width: 375px) {
    #header-behavior {
        text-align: center;
        margin-top: 0;
    }
}

#breed-temp {
    font-family: "42dot Sans", serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 300;
}
@media(max-width: 375px) {
    #breed-temp {
        font-size: 1rem;
        font-weight: 400;
    }
}

/* collage styling*/
#collage-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2em;
    justify-content: center;
    background-color: rgb(222, 206, 114);
    width: 70vw;
    
}
@media(max-width: 375px) {
    #collage-section {
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(100, 1fr));
       gap: 1em;
    }
}
@media(max-width: 375px) {
    #collage-section img {
        max-width: 5em;
        height: auto;
        border-radius: 2px;
    }
}
#col-header-2 {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
}

#col-paragraph {
    font-size: 1.5em;
    text-align: center;
}