body {
    background-color: rgb(170, 243, 239);
    font-family: "Oswald", serif;
}

#navigation {
    position: sticky;
    top: 0;
    background-color: rgb(161, 246, 242);
    padding: 1em;
}

#navigation ul {
    list-style: none;
    display: flex;
    gap: 2em;
    justify-content: end;
    margin-right: 3em;
}

h1 {
    background-color: rgba(73, 241, 247, 0.445);
    border: solid 1px rgb(0, 0, 0);
    font-family: "Kumar One", serif;
    text-align: center;
    font-size: 3rem;
    margin: 1em;
    margin-bottom: 0;
}

#intro-p {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-left: 5em;
    margin-right: 5em;
    gap: 1em;
}

input {
    display: flex;
    width: 100%;
    max-width: 40vw;
    height: 2em;
    padding-left: 1em;
    border: solid 1px black;
    border-radius: 1em;
}

#search-button {
    width: 10em;
    height: 2em;
    border-radius: 1em;
    background-color: rgb(37, 196, 249);
}

#search-button:hover {
    background-color: rgb(115, 216, 249);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}
#breed-name {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

#cat-profile {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 2em;
    justify-content: center;
}

#cat-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 7em;
}

#cat-image {
    display: flex;
    justify-content: center;
    width: 30vw;
    max-height: max-content;
    /* border: solid 3px rgb(237, 249, 249);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7); */
}

#favorite-button {
    width: 6em;
    height: 2.5em;
    border-radius: 1em;
    background-color: rgb(250, 147, 216);
}

#favorite-button:hover {
    background-color: rgb(249, 220, 246);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
}

#behavior-section {
    margin-top: 1em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-behavior {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0.25em;
}
#breed-temp {
    font-family: "42dot Sans", serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    font-weight: 300;
}